export(getgo,getlength,goseq,makespline,nullp,plotPWF,supportedOrganisms)
importFrom(mgcv,gam,smoothCon,s,mono.con,pcls,Predict.matrix)
importFrom(graphics, lines, plot)
importFrom(stats, approx, binomial, dhyper, median, phyper, runif)
importFrom(utils, data, relist)
importFrom(AnnotationDbi, as.list, select)
importFrom(GO.db,GO.db)
import(BiocGenerics)
import(geneLenDataBase)
import(BiasedUrn)
