#  All functions exported other than those starting with "."
#exportPattern("^[^\\.]")
#All functions that don't begin with p or r or . (pp reversemapping), not perfect, but good enough
exportPattern("^[^p,r,\\.][^p]")
export(getgo,getlength,goseq,makespline,nullp,plotPWF)
importFrom(mgcv,gam,smoothCon,s,mono.con,pcls,Predict.matrix)
importFrom(graphics, lines, plot)
importFrom(stats, approx, binomial, dhyper, median, phyper, runif)
importFrom(utils, data, relist)
importFrom(AnnotationDbi, as.list)
